.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.form label {
    font-weight: bold;
}

.form .tracking_number {
    width: 100%;
    text-align: left;
}


.form .tracking_number>span {
    margin-left: 5px;
}

.form .from,
.form .to,
.form .shippingOptions,
.form .buttons {
    width: 49%;
    text-align: left;

}

.form .buttons {
    margin: 2px 0;
}

.form .buttons .save {
    background: green;
    color: white;
    padding: 6px;
}

.form .buttons .cancel {
    background: gray;
    color: white;
    padding: 6px;
}


.form button {
    width: 100%;
    max-width: 300px;
    height: 40px;
    margin: 5px 0;
    font-weight: bold;
    border-radius: 5px;
}