.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.form label {
    font-weight: bold;
}

.form .from,
.form .to,
.form .shippingOptions,
.form .buttons {
    width: 49%;
    text-align: left;

}

.form .buttons {
    margin-top: 1.5rem;
}

.form button {
    width: 90%;
    height: 40px;
    margin: 0.85çrem 0;
    font-weight: bold;
}

.form .buttons .save {
    background: green;
    color: white
}