.smartFilters {
    position: relative;
    padding: 1rem 0;
}

.smartFilters::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 80%;
    background-color: rgba(166, 166, 166, 0.5);
}

.smartFilters::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 80%;
    background-color: rgba(166, 166, 166, 0.5);
}