.Button {
    display: block;
    margin: auto;
    width: 90%;
    height: 40px;
    margin: 1rem auto;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid lightgray;
}