.navBar {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 2rem 4rem;
}

.navBar ul,
.navBar li {
    margin: 0;
    padding: 0;
}

.navBar ul {
    width: 100%;
    display: flex;
}

.navBar li {
    text-decoration: none;
    list-style: none;
}