.input {
    width: 100%;
    max-width: 300px;
    padding: 0px 0px;
    box-sizing: border-box;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.inputElement {
    outline: none;
    text-align: center;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    font-size: 0.8rem;
    padding: 6px 10px;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
}

.inputElement:focus {
    outline: none;
    background-color: #ccc;
}