.sidebar {
    position: relative;
    display: inline-block;
    width: 160px;
    padding: 1rem;
}

.sidebar::before {
    content: '';
    position: absolute;
    right: 0;
    top: 150px;
    /*   transform: translateY(50%); */
    height: 70%;
    width: 2px;
    background-color: rgba(166, 166, 166, 0.5);
}